.div {
  	width: 100%;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	text-align: left;
  	font-size: 1.25rem;
  	color: #000;
  	font-family: Pretendard;
}
.div2 {
  	align-self: stretch;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 1.875rem 1rem;
  	gap: 1.875rem;
}
.arrow-back-ios-new-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 0.5rem;
  	text-align: center;
  	font-size: 1.375rem;
  	font-family: 'Pretendard Variable';
}
.arrow-back-ios-new-icon {
  	width: 1.375rem;
  	position: relative;
  	max-height: 100%;
	cursor: pointer;
}
.div3 {
  	position: relative;
  	letter-spacing: -0.03em;
  	font-weight: 600;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 1.5rem;
  	font-size: 1rem;
  	color: #767676;
  	font-family: 'Pretendard Variable';
}
.iconsearch-parent {
  	align-self: stretch;
  	height: 3.375rem;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 0.625rem 1rem;
  	gap: 0.625rem;
}
.iconsearch {
  	width: 1.125rem;
  	position: relative;
  	max-height: 100%;
}
.div4 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
}
.frame-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0.5rem 1.25rem;
}
.frame-container {
  	display: flex;
  	align-items: center;
  	gap: 0.625rem;
}
.wrapper {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 1rem;
}
.div5 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
  	font-weight: 500;
}
.divider {
  	align-self: stretch;
  	width: 0.063rem;
  	position: relative;
  	background-color: rgba(112, 115, 124, 0.22);
}
.parent {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 0.5rem 0.625rem 1rem;
  	gap: 0.125rem;
  	cursor: pointer;
}
.iconchevron-right {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.group {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 0.5rem 0.625rem 1rem;
  	gap: 0.125rem;
}
.basic-icon-set {
  	width: 1.5rem;
  	position: relative;
  	max-height: 100%;
}
.frame-parent2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 1.125rem;
  	font-size: 0.813rem;
}
.price-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	flex-shrink: 0;
}
.price {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 1.25rem;
}
.price-inner {
  	width: 12.713rem;
  	display: flex;
  	align-items: flex-start;
}
.container {
  	display: flex;
  	align-items: center;
  	gap: 0.125rem;
}
.div8 {
  	height: 1.375rem;
  	width: 1rem;
  	position: relative;
  	letter-spacing: 0.02em;
  	line-height: 138.5%;
  	font-weight: 600;
  	display: inline-block;
  	flex-shrink: 0;
}
.frame-wrapper2 {
  	display: flex;
  	align-items: flex-start;
  	text-align: right;
  	font-size: 1.25rem;
  	color: #333;
}
.frame {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.125rem;
}
.div9 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	font-weight: 600;
}
.actions-parent {
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
  	cursor: pointer;
  	text-align: center;
  	font-size: 0.875rem;
  	color: rgba(55, 56, 60, 0.61);
}
.actions {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.buttontextassistive {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0rem;
  	position: relative;
  	isolation: isolate;
  	gap: 0.625rem;
}
.content {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	z-index: 0;
  	flex-shrink: 0;
}
.label {
  	position: relative;
  	letter-spacing: 0.01em;
  	line-height: 142.9%;
  	font-weight: 600;
}
.interaction {
  	height: 100%;
  	width: calc(100% + 12px);
  	position: absolute;
  	margin: 0 !important;
  	top: 0%;
  	right: -0.375rem;
  	bottom: 0%;
  	left: -0.375rem;
  	z-index: 1;
  	flex-shrink: 0;
}
.interaction2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 5px;
  	background-color: #171719;
  	overflow: hidden;
  	opacity: 0;
}
.iconchevron-right3 {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
}
.block-parent {
  	display: flex;
  	align-items: flex-start;
  	gap: 0.625rem;
  	flex-shrink: 0;
  	color: #fff;
}
.block {
  	width: 12.313rem;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.08);
  	border-radius: 12px;
  	background-color: #fff;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 0rem 0.875rem;
  	box-sizing: border-box;
  	gap: 0.75rem;
	cursor: pointer;
}
.block-inner {
  	align-self: stretch;
  	height: 7.5rem;
  	border-radius: 12px;
  	display: flex;
  	align-items: flex-start;
  	padding: 0.625rem;
  	box-sizing: border-box;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.overlay-parent {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: space-between;
  	position: relative;
  	isolation: isolate;
  	gap: 0.625rem;
}
.overlay {
  	width: 111.3%;
  	height: 120%;
  	position: absolute;
  	margin: 0 !important;
  	top: -10%;
  	right: -5.65%;
  	bottom: -10%;
  	left: -5.65%;
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  	border: 1px solid rgba(112, 115, 124, 0.16);
  	box-sizing: border-box;
  	z-index: 0;
  	flex-shrink: 0;
}
.frame-child {
  	width: 12.063rem;
  	height: 1.375rem;
  	display: flex;
  	align-items: flex-start;
  	z-index: 1;
  	flex-shrink: 0;
}
.frame-parent3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 0.75rem;
  	gap: 0.5rem;
}
.frame-parent4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.625rem;
}
.buttonsolidprimary-parent {
  	display: flex;
  	align-items: flex-start;
  	gap: 0.375rem;
}
.buttonsolidprimary {
  	height: 1.25rem;
  	width: 3.25rem;
  	box-shadow: 0px 4px 6px rgba(237, 23, 16, 0.2);
  	border-radius: 6px;
  	background-color: #ed1710;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0.125rem 0.75rem;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
}
.content4 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 0.25rem;
}
.iconemergency {
  	height: 0.875rem;
  	width: 0.875rem;
  	position: relative;
  	flex-shrink: 0;
}
.container2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	opacity: 0.1;
}
.vector-icon {
  	position: absolute;
  	height: 79.29%;
  	width: 79.29%;
  	top: 8.33%;
  	right: 10.34%;
  	bottom: 12.38%;
  	left: 10.37%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.d-parent {
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.d- {
  	position: relative;
  	letter-spacing: 0.02em;
  	line-height: 138.5%;
  	font-weight: 500;
}
.div10 {
  	position: relative;
  	letter-spacing: 0.02em;
  	line-height: 138.5%;
  	font-weight: 600;
}
.right-icon {
  	height: 1rem;
  	width: 0.75rem;
  	display: none;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.interaction3 {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	margin: 0 !important;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	z-index: 1;
  	flex-shrink: 0;
}
.interaction4 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 6px;
  	background-color: #171719;
  	overflow: hidden;
  	opacity: 0;
}
.chip {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #fb23cb;
}
.hustler {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 130%;
}
.frame-parent5 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.125rem;
  	font-size: 0.875rem;
  	color: #16181c;
}
.group-parent {
  	display: flex;
  	align-items: flex-start;
  	gap: 0.5rem;
}
.div11 {
  	align-self: stretch;
  	width: 4.438rem;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.iot-llm {
  	align-self: stretch;
  	position: relative;
  	font-size: 1rem;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
}
.parent2 {
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
  	color: #767676;
  	font-family: 'Pretendard Variable';
}
.div12 {
  	position: relative;
  	letter-spacing: -0.03em;
}
.div13 {
  	position: relative;
  	font-size: 0.938rem;
  	letter-spacing: -0.03em;
}
.parent3 {
  	display: flex;
  	align-items: center;
  	gap: 0.062rem;
}
.span {
  	text-decoration: underline;
}
.iconchevron-right4 {
  	width: 0.75rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.chip5 {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #ff8f3e;
}
.div42 {
  	position: relative;
  	letter-spacing: -0.03em;
  	font-family: Pretendard;
}
.frame-parent18 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 1.125rem;
  	text-align: right;
  	color: #333;
}
.notofire-icon {
  	width: 1.313rem;
  	position: relative;
  	max-height: 100%;
}
.frame-wrapper3 {
  	display: flex;
  	align-items: flex-start;
}
.actions-group {
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
  	text-align: center;
  	font-size: 0.875rem;
  	color: rgba(55, 56, 60, 0.61);
}
.block-group {
  	display: flex;
  	align-items: flex-start;
  	gap: 0.625rem;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 0.813rem;
  	color: #fff;
}
.overlay-wrapper {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	position: relative;
  	isolation: isolate;
}
.buttonsolidprimary6 {
  	height: 1.25rem;
  	width: 3.25rem;
  	box-shadow: 0px 4px 6px rgba(237, 23, 16, 0.2);
  	border-radius: 6px;
  	background-color: #ed1710;
  	display: none;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0.125rem 0.75rem;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
}
.chip6 {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #6fff78;
}
.sns {
  	align-self: stretch;
  	position: relative;
  	font-size: 1rem;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

