.div {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 1.875rem 0rem;
  	box-sizing: border-box;
  	gap: 1.875rem;
  	text-align: right;
  	font-size: 1rem;
  	color: #333;
  	font-family: Pretendard;
}
.inner {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 0rem 1rem;
  	font-size: 1.25rem;
}
.arrow-back-ios-new-parent {
  	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 1.25rem;
  	max-width: 100%;
}
.arrow-back-ios-new-icon {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
}
.frame-wrapper {
  	display: flex;
  	align-items: flex-start;
}
.wrapper {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.125rem;
}
.div2 {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 140%;
  	font-weight: 600;
}
.child {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	text-align: center;
  	font-size: 0.813rem;
  	color: #475569;
}
.frame-parent {
  	align-self: stretch;
  	border-radius: 20px;
  	background-color: #f8fafc;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.875rem 1.125rem;
  	gap: 0.625rem;
}
.parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 1.25rem;
}
.div3 {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 500;
}
.container {
  	width: 13.563rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	text-align: right;
  	font-size: 0.875rem;
  	color: #0f172a;
}
.ux-ui {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	gap: 0.625rem;
}
.wrapper2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.wrapper3 {
  	align-self: stretch;
  	height: 7.375rem;
  	border-radius: 20px;
  	background-color: #f8fafc;
  	border: 1px dashed #cbd5e1;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	font-size: 0.938rem;
  	color: #64748b;
}
.wrapper5 {
  	align-self: stretch;
  	height: 7.375rem;
  	border-radius: 20px;
  	background-color: #f8fafc;
  	border: 1px solid #cbd5e1;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.875rem;
  	font-size: 0.813rem;
  	color: #94a3b8;
}
.div11 {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
}
.frame-parent2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.625rem;
  	text-align: left;
  	font-size: 0.875rem;
  	color: #475569;
  	font-family: 'Spoqa Han Sans Neo';
}
.buttons-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	cursor: pointer;
}
.buttons {
  	align-self: stretch;
  	border-radius: 12px;
  	background-color: #e2e8f0;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
}
.button {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 1.25rem;
}
.buttons-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	cursor: pointer;
  	color: #fff;
}
.buttons2 {
  	align-self: stretch;
  	border-radius: 12px;
  	background-color: #1e78ff;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
}

