.default {
  	width: 100%;
  	height: 53.188rem;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 1.875rem 1rem;
  	box-sizing: border-box;
  	gap: 1.25rem;
  	text-align: left;
  	font-size: 1.25rem;
  	color: #767676;
  	font-family: Pretendard;
}
.arrow-back-ios-new-parent {
  	align-self: stretch;
  	height: 1.875rem;
  	display: flex;
  	align-items: center;
  	gap: 0.5rem;
  	text-align: right;
  	color: #333;
}
.arrow-back-ios-new-icon {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
	cursor: pointer;
}
.frame-wrapper {
  	display: flex;
  	align-items: flex-start;
}
.wrapper {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem 0.125rem;
}
.div {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	font-weight: 600;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.875rem;
  	font-size: 1rem;
  	font-family: 'Pretendard Variable';
}
.iconsearch-parent {
  	width: 21.438rem;
  	height: 3.375rem;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	box-sizing: border-box;
  	display: none;
  	align-items: center;
  	padding: 0.625rem 1rem;
  	gap: 0.625rem;
  	flex-shrink: 0;
}
.iconsearch {
  	height: 1.125rem;
  	width: 1.125rem;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.div2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
}
.frame-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0.5rem 1.25rem;
}
.frame-div {
  	display: flex;
  	align-items: center;
  	gap: 0.625rem;
}
.container {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 1rem;
}
.div3 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
  	font-weight: 500;
}
.divider {
  	align-self: stretch;
  	width: 0.063rem;
  	position: relative;
  	background-color: rgba(112, 115, 124, 0.22);
}
.parent {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 0.5rem 0.625rem 1rem;
  	gap: 0.125rem;
}
.iconchevron-right {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.basic-icon-set {
  	width: 1.5rem;
  	position: relative;
  	max-height: 100%;
}
.frame-parent3 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.625rem;
  	font-size: 0.625rem;
}
.grid-01-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	gap: 0.625rem;
}
.grid-01-icon {
  	height: 1.5rem;
  	width: 1.5rem;
  	position: relative;
  	cursor: pointer;
}
.component-2-parent {
  	align-self: stretch;
  	height: 33.875rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.625rem;
}
.component-2 {
  	width: 21.438rem;
  	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  	border-radius: 10px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0rem 0.625rem 0rem 0rem;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
  	gap: 0rem;
  	flex-shrink: 0;
}
.image-parent {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 0.75rem;
  	z-index: 0;
}
.image {
  	height: 7.75rem;
  	width: 5.688rem;
  	border-radius: 10px;
  	display: flex;
  	align-items: flex-start;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.overlay {
  	height: 7.75rem;
  	width: 5.688rem;
  	position: relative;
  	border-radius: 10px;
  	background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.parent2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.875rem 0rem;
  	gap: 0.625rem;
}
.frame-parent4 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.312rem;
  	font-size: 0.938rem;
  	color: #16181c;
}
.frame-parent5 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.125rem;
}
.frame-parent6 {
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
}
.group-parent {
  	display: flex;
  	align-items: center;
  	gap: 0.5rem;
}
.frame-child {
  	width: 1.5rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.div7 {
  	width: 4.938rem;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	display: flex;
  	align-items: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
}
.chip {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #ff8f3e;
}
.hipster {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 130%;
}
.ai-ux {
  	align-self: stretch;
  	position: relative;
  	font-size: 1rem;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 500;
}
.parent3 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
  	font-size: 0.75rem;
  	color: #767676;
}
.div8 {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
}
.div9 {
  	position: relative;
  	font-size: 0.938rem;
  	letter-spacing: -0.03em;
  	font-family: 'Pretendard Variable';
}
.parent4 {
  	display: flex;
  	align-items: center;
  	gap: 0.062rem;
}
.iconchevron-right3 {
  	width: 0.75rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.buttonsolidprimary {
  	height: 1.25rem;
  	width: 3.25rem;
  	margin: 0 !important;
  	position: absolute;
  	top: 0.886rem;
  	left: 0.938rem;
  	box-shadow: 0px 4px 6px rgba(237, 23, 16, 0.2);
  	border-radius: 6px;
  	background-color: #ed1710;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0.125rem 0.75rem;
  	box-sizing: border-box;
  	isolation: isolate;
  	z-index: 1;
  	font-size: 0.813rem;
  	color: #fff;
}
.content {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	z-index: 0;
  	flex-shrink: 0;
}
.content2 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 0.25rem;
}
.iconemergency {
  	height: 0.875rem;
  	width: 0.875rem;
  	position: relative;
}
.container2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	opacity: 0.1;
}
.vector-icon {
  	position: absolute;
  	height: 79.29%;
  	width: 79.29%;
  	top: 8.33%;
  	right: 10.34%;
  	bottom: 12.38%;
  	left: 10.37%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.d-parent {
  	display: flex;
  	align-items: center;
}
.d- {
  	position: relative;
  	letter-spacing: 0.02em;
  	line-height: 138.5%;
  	font-weight: 500;
}
.div13 {
  	position: relative;
  	letter-spacing: 0.02em;
  	line-height: 138.5%;
  	font-weight: 600;
}
.interaction {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	margin: 0 !important;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	z-index: 1;
  	flex-shrink: 0;
}
.interaction2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 6px;
  	background-color: #171719;
  	overflow: hidden;
  	opacity: 0;
}
.icon-wrapper {
  	align-self: stretch;
  	width: 1.25rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.75rem 0rem;
  	box-sizing: border-box;
  	z-index: 2;
}
.icon {
  	align-self: stretch;
  	height: 1.25rem;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.controltoggle-icon {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	isolation: isolate;
}
.icon2 {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	isolation: isolate;
  	z-index: 0;
  	flex-shrink: 0;
}
.color {
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	margin: 0 !important;
  	top: 0rem;
  	right: 0rem;
  	bottom: 0rem;
  	left: 0rem;
  	background-color: #767676;
  	z-index: 0;
}
.interaction3 {
  	width: calc(100% + 8px);
  	height: calc(100% + 8px);
  	position: absolute;
  	margin: 0 !important;
  	top: -0.25rem;
  	right: -0.25rem;
  	bottom: -0.25rem;
  	left: -0.25rem;
  	opacity: 0.5;
  	z-index: 1;
  	flex-shrink: 0;
}
.interaction4 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 1000px;
  	background-color: #171719;
  	overflow: hidden;
  	opacity: 0;
}
.component-3 {
  	width: 21.438rem;
  	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  	border-radius: 10px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0rem 0.625rem 0rem 0rem;
  	box-sizing: border-box;
  	position: relative;
  	isolation: isolate;
  	gap: 0rem;
  	cursor: pointer;
  	flex-shrink: 0;
}
.chip2 {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #6fff78;
}
.ai-ux2 {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
}
.chip3 {
  	height: 1.25rem;
  	box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 6px;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.25rem 0.5rem;
  	box-sizing: border-box;
  	font-size: 0.625rem;
  	color: #fb23cb;
}

