.div {
  	width: 100%;
  	height: 50.75rem;
  	position: relative;
  	background-color: #fff;
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
  	font-size: 1.25rem;
  	color: #000;
  	font-family: 'Pretendard Variable';
}
.frame-parent {
  	width: 100%;
  	overflow-y: auto;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 1.875rem 1rem;
  	box-sizing: border-box;
  	gap: 1.875rem;
  	max-width: 100%;
}
.arrow-back-ios-new-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 0.5rem;
  	text-align: center;
}
.arrow-back-ios-new-icon {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
}
.div2 {
  	position: relative;
  	font-weight: 600;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.875rem;
  	font-size: 1rem;
  	color: #767676;
}
.iconsearch-parent {
  	align-self: stretch;
  	height: 3.375rem;
  	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.05);
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	padding: 0.625rem 1rem;
  	gap: 0.625rem;
}
.iconsearch {
  	width: 1.125rem;
  	position: relative;
  	max-height: 100%;
}
.div3 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
}
.chip {
  	width: 21.438rem;
  	height: 2.5rem;
  	border-radius: 8px;
  	background-color: #f1f5f9;
  	display: none;
  	align-items: center;
  	padding: 0.125rem;
  	box-sizing: border-box;
  	gap: 1.375rem;
  	font-size: 0.875rem;
  	color: #8f8f8f;
  	font-family: Pretendard;
}
.chip2 {
  	height: 2.25rem;
  	flex: 1;
  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 8px;
  	background-color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.375rem 1.5rem;
  	box-sizing: border-box;
}
.hacker-parent {
  	display: flex;
  	align-items: center;
  	gap: 0.125rem;
}
.hacker {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 1.25rem;
  	flex-shrink: 0;
}
.basic-icon-set {
  	height: 1rem;
  	width: 1rem;
  	position: relative;
  	display: none;
  	flex-shrink: 0;
}
.chip3 {
  	height: 1.75rem;
  	flex: 1;
  	border-radius: 999px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.375rem 1.5rem;
  	box-sizing: border-box;
}
.hipster-parent {
  	display: flex;
  	align-items: center;
  	gap: 0.125rem;
  	flex-shrink: 0;
}
.hipster {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 1.25rem;
}
.basic-icon-set2 {
  	height: 1rem;
  	width: 1rem;
  	position: relative;
  	display: none;
}
.chip5 {
  	align-self: stretch;
  	height: 2.5rem;
  	border-radius: 8px;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	padding: 0.125rem;
  	box-sizing: border-box;
  	gap: 1.375rem;
  	font-size: 0.875rem;
  	color: #8f8f8f;
  	font-family: Pretendard;
}
.frame-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.frame-container {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0.5rem 1.25rem;
}
.frame-div {
  	display: flex;
  	align-items: center;
  	gap: 0.625rem;
}
.wrapper {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 1rem;
}
.div4 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 130%;
  	text-transform: uppercase;
  	font-weight: 500;
}
.divider {
  	align-self: stretch;
  	width: 0.063rem;
  	position: relative;
  	background-color: rgba(112, 115, 124, 0.22);
}
.frame-parent2 {
  	width: 13.25rem;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	gap: 0.625rem;
}
.parent {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 0.5rem 0.625rem 1rem;
  	gap: 0.125rem;
  	cursor: pointer;
  	flex-shrink: 0;
}
.iconchevron-right {
  	width: 1.25rem;
  	position: relative;
  	max-height: 100%;
  	object-fit: contain;
}
.group {
  	border-radius: 100px;
  	background-color: #fff;
  	border: 1px solid #e5e5ec;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0.625rem 0.5rem 0.625rem 1rem;
  	gap: 0.125rem;
  	flex-shrink: 0;
}
.basic-icon-set7 {
  	width: 1.5rem;
  	position: relative;
  	max-height: 100%;
  	cursor: pointer;
}
.frame-parent3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.625rem;
  	font-size: 0.875rem;
  	color: #16181c;
}
.frame-wrapper2 {
  	align-self: stretch;
  	height: 7.313rem;
  	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 4px 8px rgba(0, 0, 0, 0.08);
  	border-radius: 12px;
  	background-color: #fff;
  	border: 1px solid #cbd5e1;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem 0.687rem;
}
.frame-parent4 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 0.875rem;
  	max-width: 100%;
}
.frame-parent5 {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 1.25rem;
}
.frame-parent6 {
  	width: 10.875rem;
  	display: flex;
  	align-items: flex-start;
  	gap: 0.75rem;
}
.frame-child {
  	height: 2.625rem;
  	width: 2.625rem;
  	border-radius: 99px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.frame-wrapper3 {
  	align-self: stretch;
  	width: 10rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	flex-shrink: 0;
}
.frame-parent7 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 0.25rem;
}
.parent2 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 0.75rem;
}
.div8 {
  	position: relative;
  	letter-spacing: -0.03em;
  	font-weight: 600;
}
.div9 {
  	position: relative;
  	font-size: 0.625rem;
  	letter-spacing: -0.03em;
  	color: #757575;
}
.figma-parent {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 0.25rem;
  	font-size: 0.75rem;
  	color: #475569;
}
.figma {
  	position: relative;
  	letter-spacing: -0.03em;
}
.div10 {
  	position: relative;
  	font-size: 0.938rem;
  	letter-spacing: -0.03em;
}
.icon {
  	height: 1.25rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.controltoggle-icon {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	isolation: isolate;
}
.icon2 {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	isolation: isolate;
  	z-index: 0;
  	flex-shrink: 0;
}
.color {
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	margin: 0 !important;
  	top: 0rem;
  	right: 0rem;
  	bottom: 0rem;
  	left: 0rem;
  	background-color: #475569;
  	z-index: 0;
}
.interaction {
  	width: calc(100% + 8px);
  	height: calc(100% + 8px);
  	position: absolute;
  	margin: 0 !important;
  	top: -0.25rem;
  	right: -0.25rem;
  	bottom: -0.25rem;
  	left: -0.25rem;
  	opacity: 0.5;
  	z-index: 1;
  	flex-shrink: 0;
}
.interaction2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 1000px;
  	background-color: #171719;
  	overflow: hidden;
  	opacity: 0;
}
.buttons-parent {
  	align-self: stretch;
  	height: 1.563rem;
  	display: flex;
  	align-items: center;
  	gap: 0.562rem;
  	font-size: 0.75rem;
  	color: #757575;
  	font-family: Pretendard;
}
.buttons {
  	height: 2rem;
  	width: 9.75rem;
  	border-radius: 99px;
  	background-color: #f8f8f8;
  	border: 1px solid #c1c1c1;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
}
.text {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.buttons2 {
  	height: 2rem;
  	width: 9.75rem;
  	border-radius: 99px;
  	background-color: #1e78ff;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
  	box-sizing: border-box;
  	color: #fff;
}

