.div {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 2.5rem 0rem;
  	box-sizing: border-box;
  	gap: 1.875rem;
  	text-align: left;
  	font-size: 1.375rem;
  	color: #fff;
  	font-family: Pretendard;
}
.group-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 1.875rem;
  	color: #1e293b;
}
.group-container {
  	width: 7.375rem;
  	height: 5.713rem;
  	position: relative;
}
.vector-parent {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.preview-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 1.25rem;
}
.preview {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 140%;
}
.preview2 {
  	align-self: stretch;
  	position: relative;
  	font-size: 1rem;
  	letter-spacing: -0.02em;
  	line-height: 1.5rem;
  	font-weight: 500;
  	font-family: 'Spoqa Han Sans Neo';
  	color: #475569;
  	text-align: center;
}
.inner {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	text-align: center;
  	font-size: 0.813rem;
  	color: #475569;
}
.frame-parent {
  	align-self: stretch;
  	border-radius: 20px;
  	background-color: #f8fafc;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.875rem 1.125rem;
  	gap: 0.625rem;
}
.parent {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 1.25rem;
}
.div2 {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 500;
}
.wrapper {
  	width: 13.563rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	text-align: right;
  	font-size: 0.875rem;
  	color: #0f172a;
}
.ux-ui {
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	font-weight: 600;
}
.child {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	text-align: right;
  	font-size: 1rem;
}
.frame-group {
  	align-self: stretch;
  	border-radius: 20px;
  	background-color: #1e293b;
  	border: 1px solid #cbd5e1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 1.25rem 0.875rem;
  	gap: 0.625rem;
}
.frame-container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 0.25rem;
}
.frame {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.div8 {
  	position: relative;
  	font-size: 0.813rem;
  	letter-spacing: -0.03em;
  	line-height: 150%;
  	color: #94a3b8;
  	text-align: center;
}
.buttons-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	text-align: left;
  	font-size: 0.875rem;
  	color: #0f0f10;
  	font-family: 'Spoqa Han Sans Neo';
}
.buttons {
  	align-self: stretch;
  	height: 3rem;
  	border-radius: 99px;
  	background-color: #fff;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
  	box-sizing: border-box;
  	gap: 0.25rem;
  	cursor: pointer;
}
.basic-icon-set {
  	height: 1.25rem;
  	width: 1.25rem;
  	position: relative;
  	display: none;
  	flex-shrink: 0;
}
.b {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 1.25rem;
  	flex-shrink: 0;
}
.inner2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0rem 1rem;
  	cursor: pointer;
  	font-size: 0.875rem;
  	font-family: 'Spoqa Han Sans Neo';
}
.buttons-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.buttons2 {
  	align-self: stretch;
  	border-radius: 99px;
  	background-color: #1e78ff;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1rem;
  	gap: 0.25rem;
}
.basic-icon-set3 {
  	height: 1.25rem;
  	width: 1.25rem;
  	position: relative;
  	display: none;
}
.b2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 1.25rem;
}

