body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("img/background.svg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, sans-serif;
}

.phone-frame {
  width: 375px;
  height: 775px;
  border-radius: 24px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 35px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
}

.phone-screen {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  /* 스크롤바 숨기기 */
  scrollbar-width: none;            /* Firefox */
}
.phone-screen::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, Edge */
}

.phone-nav {
  flex-shrink: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

a:focus,
a:active,
a:hover {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}